.mainContent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header h1 {
  color: var(--white);
  font-weight: 400;
}

.header button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  transition: 0.2s;
}

.header button:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.cardLista {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 20px;
}
