.card {
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #25252d;
  color: var(--white);
  min-height: 300px;
  -webkit-box-shadow: 5px 3px 15px 3px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 3px 15px 3px rgba(0, 0, 0, 0.45);
  transition: 0.5s;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.card p span {
  color: var(--white);
}

.card p {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s;
  color: #c4c4c4;
}
.card p:hover {
  overflow: visible;
  white-space: normal;
  height: auto;
}

.card:hover {
  transform: scale(1.03);
}
